<div class="container w-50" style="margin-top: 10rem;">

    <div class="card p-4">
        <img [src]="targetNFT?.NFTuRI" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{targetNFT?.NFTName}}</h5>
          <p class="card-text">category: {{targetNFT?.NFTCategory}}</p>
          <p class="card-text">price: {{targetNFT?.NFTValue}} Eth</p>
          <p class="card-text">owner: {{targetNFT?.NFTownerName}}</p>
         

          <p class="card-text"><small class="text-muted">Owner's address {{targetNFT?.NFTownerAddress}}</small></p>
        </div>


        <div class="u-center-text">

            <button (click)="buyNFT()" class="btn-scalable btn-scalable--colorful"> 
              Buy now
            </button>

            <!-- <div *ngIf="isOwnedByCurrentUser">


              <div class="input-group mb-5">
                <span class="input-group-text" id="basic-addon1">gift to user address</span>
                <input type="text" class="form-control" placeholder="hex account address" [(ngModel)]="giftedUserAddress">
              </div>

              <button (click)="GiftToUser()" class="btn-scalable btn-scalable--colorful" > 
                Gift to a user
              </button>



            </div> -->

        </div>
      </div>


</div>


  


  