<div class="container w-50" style="margin-top: 10rem;">

    <div class="card p-4">
        <img src="assets/img/nft-icon.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{targetNFT?.NFTName}}</h5>
          <p class="card-text">category: {{targetNFT?.NFTCategory}}</p>
          <p class="card-text">price {{targetNFT?.NFTValue}} Eth</p>
         

          <p class="card-text"><small class="text-muted">{{targetNFT?.NFTownerAddress}}</small></p>
        </div>


        <div class="u-center-text">

            <button (click)="buyNFT()" class="btn-scalable btn-scalable--colorful"> Buy now</button>
        </div>
      </div>


</div>
  


  