<section class="user-dash-sec">
  <div class="sim-dash">
    <nav class="sim-dash__nav">

      <div class="sim-dash__nav__header">



        <p>NFT Marketplace LOGO</p>
      </div>

      <div class="sim-dash__nav__controls" id="dash_btns_panel">



        <div class="sim-dash__nav__icon" id="show_profile">
          <span></span>
          <svg>
            <use xlink:href="assets/img/icons/sprite.svg#icon-store"></use>
          </svg>
          <span class="sim-dash__nav__icon-name"> item 1</span>

        </div>

        <div class="sim-dash__nav__icon" id="show_address">
          <span></span>
          <svg>
            <use xlink:href="assets/img/icons/sprite.svg#icon-store"></use>
          </svg>
          <span class="sim-dash__nav__icon-name">item 2</span>
        </div>

        <div class="sim-dash__nav__icon"  id="show_orders">
          <span></span>
          <svg>
            <use xlink:href="assets/img/icons/sprite.svg#icon-store"></use>
          </svg>
          <span class="sim-dash__nav__icon-name"> item 3</span>
        </div>

        <div class="sim-dash__nav__icon" id="show_support">
          <span></span>
          <svg>
            <use xlink:href="assets/img/icons/sprite.svg#icon-store"></use>
          </svg>
          <span class="sim-dash__nav__icon-name">Item 4</span>

        </div>

        <a class="sim-dash__nav__icon" id="show_shop" href="/"
           style="display: inline-block; text-decoration: none; color: inherit">
          <span></span>
          <svg>
            <use xlink:href="assets/img/icons/sprite.svg#icon-store"></use>
          </svg>
          <span class="sim-dash__nav__icon-name">Item 5</span>
        </a>

      </div>
    </nav>


    <div class="sim-dash__content" id="dash-data-cont">

    </div>
  </div>
</section>
