//SASS  variables
$color-primary: #55c57a;
$color-primary: #fd1d1d;
$color-primary-light: #fcb045;
$color-primary-dark: #7c31af;
$color-primary-light-2: #a922b3;

$color-secondary-light: #fcb045;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-grey-dark: #777777;
$color-grey-dark-2: #999999;
$color-grey-dark-3: #333;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-white: #ffffff;

//$background-color: #2C2218;
$background-color: #211a12;
$background-color-light: #463E35;

//$test-color:#4d453c;// 1st choice
//$test-color:#403528;// 2nd choice

$default-font-size: 1.6rem;
$custom-bp-1:43.75em;
$custom-checkout-phone-bp:25em;


//CSS gradients and colors variables
:root {


  --gradient-1: linear-gradient(to bottom left,
          rgba(212, 155, 126, 1)50%,
          rgba(196, 174, 139, 1)
  );

  --gradient-1-flipped: linear-gradient(to top,
          rgba(212, 155, 126, 1)50%,
          rgba(196, 174, 139, 1)
  );

  --gradient-2: linear-gradient(to bottom left,
          rgba(196, 174, 139, 1) 50%,
          rgba(164, 150, 134, 1)
  );


  --gradient-3: linear-gradient(to top right, #a44200 0%, #f2c17d 70%);

  --gradient-4: linear-gradient(to bottom left,
          rgba(196, 174, 139, .5) 50%,
          rgba(164, 150, 134, .5)
  );


  // gradient used in the contact page
  --gradient-5: linear-gradient(to bottom right,
          rgba(196, 174, 139, .8) 25%,
          rgba(212, 155, 126, .8)
  );



  // gradient used in the gallery
  --gradient-6: linear-gradient(to bottom left,
          rgba(212, 155, 126, .7)10%,
          rgba(196, 174, 139, .7)
  );

  // gradients used in the landing page sections
  --gradient-7: linear-gradient(to  bottom right,
          rgba(212, 155, 126, .7)30%,
          rgba(196, 174, 139, .7)
  );

  // gradients used in the about page
  --gradient-about: linear-gradient(to top,
          rgba(70, 62, 53, .7) 60%,
          rgba(164, 150, 134, .5)
  );


  --gradient-8: linear-gradient(to  top right,
          rgba(196, 174, 139, .7)30%,
          rgba(199, 93, 102, .7)
  );


  --color-primary: #c4ae8b;
  --color-primary-rgb: 196, 174, 139;

  --color-primary-light: #a49686;
  --color-primary-dark: #d49b7e;
  --color-primary-dark-2: #463E35;
  --color-primary-dark-2-rgb: 70, 62, 53;
  --color-secondery:#C75D66;
  --color-secondery-rgb: 199,93,102 ;



  --color-Grey-light-1: #cccccc;
  --color-Grey-light-3: #f0eeee;
  --color-Grey-light-2: #e7e7e7;

  --color-Grey-dark-1: 51,51,51;
  --color-Grey-dark-2: #777;
  --color-Grey-dark-2-rbg: 119, 119, 119;
  --color-Grey-dark-3: #999;
  --color-Grey-dark-3-rgb: 153,153,153;
  --color-Grey-dark-4: #333;



  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .03);
  --shadow-light-2: 0 2rem 3rem 1px rgba(0, 0, 0, .08);

  --svg-shadow : drop-shadow(10px 10px 3px rgba(0, 0, 0, 0.3));
  --text-shadow :5px 5px 10px gray;

  --border-b-light-grey: 1px solid var(--color-Grey-dark-3);

  --large-font-size: 2rem;
  --default-font-size: 1.6rem;
  ---font-size-mid: 1.2rem;
  ---font-size-small: 1rem;



  --mb-default-font-size: 1.8rem;
  ---mb-font-size-mid: 1.6rem;
  --mb-font-size-small: 1.2rem;


  --nav-marg-top: 85px;


  --review-breadown-percentage: 0%;

  --anim-function-1: cubic-bezier(0.83, 0, 0.17, 1)



}
