<div *ngIf="web3Ser.NFTMartContract && !viwOnlyUserNFTs">

  <div class="nft-display">

    <div class="nft-display__comntrols">


    </div>


    <div class="nft-display__cards container">

      <div class="row row-cols-3 row-cols-md-3 g-5">



        <div class="col" *ngFor="let nft of NFTser.NFTsList">
          <div class="card ">
            <img [src]="nft.NFTuRI" class="card-img-top" alt="...">
   
            <div class="card-body">
              <h5 class="card-title">{{nft.NFTName}}</h5>
              <h4 class="card-text">price: </h4>
              <p class="card-text">{{nft.NFTValue}} Ether</p>
              <h5 class="card-text">Owner name: </h5>
              <p class="card-text">{{nft.NFTownerName}}</p>


              <div class="text-center">
                <button class="btn-scalable btn-scalable--colorful btn-sm text-center" routerLink="/nft-details"
                  [queryParams]="{nft_ID:nft.NFTid}">view</button>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>


    <!-- <div class="container d-flex justify-content-between pt-5">

      <button class="btn-scalable btn-scalable--grey-light"> &larr;</button>
      <button class="btn-scalable btn-scalable--grey-light">&rarr;</button>

    </div> -->

  </div>

</div>

<div *ngIf="viwOnlyUserNFTs">

  <div class="nft-display">

    <div class="nft-display__comntrols">


    </div>


    <div class="nft-display__cards container">

      <div class="row row-cols-3 row-cols-md-3 g-5">



        <div class="col" *ngFor="let nft of userOnlyNFTs">
          <div class="card h-100">
            <img src="{{nft.NFTuRI}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{nft.NFTName}}</h5>
              <h4 class="card-text">price: </h4>
              <p class="card-text">{{nft.NFTValue}} Ether</p>

              <h5 class="card-text">Owner name: </h5>
              <p class="card-text">{{nft.NFTownerName}}</p>

              <div class="text-center">
                <button class="btn-scalable btn-scalable--colorful btn-sm text-center" routerLink="/nft-details"
                  [queryParams]="{nft_ID:nft.NFTid}">view</button>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>


    <!-- <div class="container d-flex justify-content-between pt-5">

      <button class="btn-scalable btn-scalable--grey-light"> &larr;</button>
      <button class="btn-scalable btn-scalable--grey-light">&rarr;</button>

    </div> -->

  </div>

</div>

<div *ngIf="!web3Ser.NFTMartContract">

  <p>Please install or login to Metamask</p>

</div>