<div class="nft-display">

    <div class="nft-display__comntrols">


    </div>


    <div class="nft-display__cards container">

        <div class="row row-cols-3 row-cols-md-3 g-5">

              
              
            <div class="col">
                <div class="card h-100">
                  <img src="assets/img/nft-icon.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">NFT-NAME</h5>
                    <p class="card-text">PRICE</p>

                    <div class="text-center">
                        <button  class="btn-scalable btn-scalable--colorful btn-sm text-center"
                         routerLink="/nft-details"

                         [queryParams]="{nft_ID:0001}"
                         
                         >view</button>
                    </div>
                    
                  </div>
                </div>
              </div>


              <div class="col">
                <div class="card h-100">
                  <img src="assets/img/nft-icon.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">NFT-NAME</h5>
                    <p class="card-text">PRICE</p>

                    <div class="text-center">
                        <button  class="btn-scalable btn-scalable--colorful btn-sm text-center"
                         routerLink="/nft-details"

                         [queryParams]="{nft_ID:0001}"
                         
                         >view</button>
                    </div>
                    
                  </div>
                </div>
              </div>


              <div class="col">
                <div class="card h-100">
                  <img src="assets/img/nft-icon.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">NFT-NAME</h5>
                    <p class="card-text">PRICE</p>

                    <div class="text-center">
                        <button  class="btn-scalable btn-scalable--colorful btn-sm text-center"
                         routerLink="/nft-details"

                         [queryParams]="{nft_ID:0001}"
                         
                         >view</button>
                    </div>
                    
                  </div>
                </div>
              </div>


              <div class="col">
                <div class="card h-100">
                  <img src="assets/img/nft-icon.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">NFT-NAME</h5>
                    <p class="card-text">PRICE</p>

                    <div class="text-center">
                        <button  class="btn-scalable btn-scalable--colorful btn-sm text-center"
                         routerLink="/nft-details"

                         [queryParams]="{nft_ID:0001}"
                         
                         >view</button>
                    </div>
                    
                  </div>
                </div>
              </div>


              <div class="col">
                <div class="card h-100">
                  <img src="assets/img/nft-icon.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">NFT-NAME</h5>
                    <p class="card-text">PRICE</p>

                    <div class="text-center">
                        <button  class="btn-scalable btn-scalable--colorful btn-sm text-center"
                         routerLink="/nft-details"

                         [queryParams]="{nft_ID:0001}"
                         
                         >view</button>
                    </div>
                    
                  </div>
                </div>
              </div>



              <div class="col">
                <div class="card h-100">
                  <img src="assets/img/nft-icon.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">NFT-NAME</h5>
                    <p class="card-text">PRICE</p>

                    <div class="text-center">
                        <button  class="btn-scalable btn-scalable--colorful btn-sm text-center"
                         routerLink="/nft-details"

                         [queryParams]="{nft_ID:0001}"
                         
                         >view</button>
                    </div>
                    
                  </div>
                </div>
              </div>
          </div>

    </div>


    <div class="container d-flex justify-content-between pt-5">

        <button class="btn-scalable btn-scalable--grey-light"> &larr;</button>
        <button class="btn-scalable btn-scalable--grey-light">&rarr;</button>

    </div>

</div>