<div class="portal-cont">


  <div class="portal__info">


    <div class="portal__info__logo" >
      <img src="/assets/img/logo_ft.png" alt="">
    </div>



    <div class="portal__info__header" >
      <h2 class="heading-primary heading-primary--sub">welcome to</h2>
      <h2 class="heading-primary heading-primary--sub">grandsahara</h2>
      <h2 class="heading-primary heading-primary--sub"> control ceneter</h2>
    </div>

    <div class="portal__info__copyright">
      <p>Copyright &#xa9; 2022. Grandsahara LLC. All rights reserved</p>
    </div>

  </div>

  <div class="portal__login-form">

    <form action="" id="admin-login" class="form">
      <div class="form__heading u-center-text">
        <h2 class="heading-tertiary">
           control center login
        </h2>
      </div>
      <div class="form__group">

        <input id="si_email" class="form__input font-size-inh" placeholder="Email" required
               pattern="[a-z]+[@][a-z]+[.][a-z]+" autocomplete="off">
        <label for="si_email" class="form__label font-size-inh">Email</label>
        <div class="form__invalid-feedback">Please enter a valid email address</div>

      </div>

      <div class="form__group">

        <input type="password" id="si_pass" class="form__input font-size-inh" placeholder="Password"
               pattern="^(?=.*[A-z])(?=.*[0-9])(?!.*[<>|#?!])\S{8,}$" required autocomplete="off">
        <label for="si_pass" class="form__label font-size-inh">password</label>
        <div class="form__invalid-feedback">Please enter a valid password</div>
      </div>
      <div class="form__group">
        <input class="form__checkbox" type="checkbox" id="pers_login">
        <label for="pers_login">Remember me</label>
        <a class="form__pass-recovery" href="#" target="_blank" rel="noopener noreferrer">Password
          Recovery</a>
      </div>

      <div class="form__group u-center-text">
        <button type="submit" class="btn-scalable btn-scalable--colorful">log in</button>

      </div>
    </form>



  </div>


</div>
