.portal-cont {

  min-height: 100vh;
  height: 100vh;
  display: flex;

  background: linear-gradient(to bottom,   rgba(212, 155, 126, 1) 50%,  #e7e7e7 50%);


  .portal__info {


    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var( --gradient-1);
    border-bottom-right-radius: 50px;


    &__logo {

      margin: 0 auto;
      width: 30%;
      margin-top: 5rem ;

    & > img{
        width: 100%;
      }

    }

    &__header {

      align-self: center;

      line-height: 3.5;
      color: var(--color-primary-dark-2);
      text-shadow: var(--text-shadow);

      & > h2:nth-child(2){
        padding-left: 2.5rem;
      }

      & > h2:last-child{
        padding-left: 5rem;
      }


      & > h2{
        font-size: 2.5rem
      }

    }

    &__copyright{

      align-self: center;
      margin-bottom: 2.5rem;
      color: var(--color-primary-dark-2);
      font-weight: 700;
    }
  }


  .portal__login-form {


    flex: 0 1 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: var(--color-Grey-light-2);
    border-top-left-radius: 50px;

    & > form{
      flex: 0 1 50%;

      & > .form__heading{
        color: var(--color-primary-dark-2);
        font-weight: 700;
      }
    }

  }


}
